---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Organization' id='HL7ATCoreOrganizationExample01' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Amadeus Spital - Change History</h2>
  <p>History of changes for HL7ATCoreOrganizationExample01 {{type | downcase}}.</p>

  {%include Organization-HL7ATCoreOrganizationExample01-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
