---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='PractitionerRole' id='HL7ATCorePractitionerRoleExample01' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: PractitionerRole/HL7ATCorePractitionerRoleExample01 - Change History</h2>
  <p>History of changes for HL7ATCorePractitionerRoleExample01 {{type | downcase}}.</p>

  {%include PractitionerRole-HL7ATCorePractitionerRoleExample01-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
