<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="artifacts.html">Artifacts</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">About<b class="caret"> </b></a>
    <ul class="dropdown-menu">
      <li><a href="authors.html">Authors and Contributors</a></li>
      <li><a href="downloads.html">Download</a></li>
      <li><a href="dependencies.html">Dependencies</a></li>
      <li><a href="copyright.html">Copyright</a></li>
      <li><a href="cross-version-analysis.html">Cross-Version Analysis</a></li>
      <li><a href="known-issues.html">Known Issues</a></li>
      <li><a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR® Spec</a></li>
    </ul>
  </li>
</ul>